*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
}

:root{
    --backgrounds: rgb(64, 140, 255);
}

@media (max-width:1300) {
    body{
        font-size: 2rem;
    }
}
@media (max-width:800px) {
    body{
        font-size: .9rem;
    }
}

header, footer{
    background: var(--backgrounds);
    background: -moz-linear-gradient(top, #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
    background: -webkit-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: -o-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    background: -ms-linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
    background: linear-gradient(top, #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
    margin: 1%;
    text-align: center;
}

header h1{
    color: white;
}

header nav ul li{
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    text-decoration-line: underline;
    color: rgb(44, 44, 44);
}

main .column{
    width: 31.3%;
    background-color: whitesmoke;
    float: left;
    margin: 1%;
    height: 300px;
    overflow: scroll;
}

main div h1{
    background-color: var(--backgrounds);
    
}
main div nav ul{
    list-style-type: circle;
}

main .content{
    padding-top: 1.5rem;
    font-size: 1.2rem;
}



footer{
    clear: both;
   
    text-align: center;
    font-size: 1.5rem;
    padding: 1%;
    margin: 1%;
    color: white;
}